.a {
    margin: 40px 0px;
    display: flex;
    align-items: start;
}

.a-left {
    flex: 4;
    margin: 40px;
    margin-left: 80px;
}

.a-right {
    flex: 3;
    margin: 40px;
    margin-right: 80px;
}

.a-card {
    width: 50%;
    height: 60vh;
    /*border-radius: 30px;*/
    position: relative;
    overflow: hidden;
    background-color: #84B3DF;      
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #28445f;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title {
    font-weight: 600;
}

.a-sub {
    margin: 20px 0px;
}

.a-desc {
    font-weight: 300;
    margin: 10px 0px;
}

.a-desc a{
    font-weight: 500;
}

.a-desc-button {
    margin-right: 10px;
    margin-top: 10px;
}

.a-desc-button a {
    color: white;
    text-decoration: none;
}

.a-habilidades {
    font-size: 50px;
    margin-top: 40px;
}

.a-habilidades i {
    margin: 20px;
}

@media screen and (max-width: 900px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        height: auto;
    }

    .a-left {
        order: 2;
        align-items: start;
        padding: 0 40px;
        margin: 0;
    }

    .a-right {
        padding-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .a-card {
        height: 30vh;
        display: none;
    }

    .a-card.bg {
        display: none;
    }

    .a-right {
        padding: 20px;
    }

    .a-buttons-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
    }
    
    .a-buttons-row .a-desc-button {
        flex-basis: auto;
    }    
} 