.p {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
    overflow: hidden ;
}

.p-browser {
    height: 20px;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

/*.p:hover .p-browser {
    background-color: rgb(210, 210, 210);
    transition: .5s;
}

.p:hover {
    border: 2px solid rgb(210, 210, 210);
    transition: .5s;
}*/

.p-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
}


.p-img {
    width: 100%;
    transition: all 10s ease;
}

.p:hover .p-img {
    transform: translateY(-80%);
}

/*Manages text and effect whenever project is on build*/

.on-build:hover a {
    transition: 1s;
    opacity: .3;
}

.p p {
    display: none;
}

p.on-build {
    opacity: 0;
    display: block;
    position: sticky;
    top: 50%;
    left: 50%;
    height: 0px;
    z-index: 1000;
    font-weight: 400;
    font-size: 20px;
}

.p:hover p.on-build {
    transition: 1s;
    opacity: .7;
}

@media screen and (max-width: 480px) {
    .p {
        width: 80%;
    }
}