.i {
    display: flex;
    height: 100vh;
    background: linear-gradient(-45deg, white, #3985cc, #84b3df, #fff);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    position: relative;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.i-left {   
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    position: relative; /*For the clip path background*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-left-wrapper {
    padding: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0vh 2vh;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
    margin: 2vh 0vh;
}

.i-name {
    font-size: 60px;
    white-space: nowrap;
    margin: 2vh 0vh;
}

.i-title {
    height: 60px;
    overflow: hidden;
    margin: 2vh 0vh;
}

.i-title-wrapper {
    height: 100%;
    animation: move 3s ease-in-out infinite alternate;
}

.i-desc {
    line-height: 1.6;
    margin: 2vh 0vh;
    width: 100%;
    font-size: 20px;
    /* From https://css.glass */
    padding: 20px;
    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes move {
    100% {
        transform: translateY(-60px);
    }
}

.i-title-item {
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    z-index: -1;
}

.i-bg {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: #84b3df;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.i-contact {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 140px;
    z-index: 3000;
}

.i-contact-title {
    font-size: 50px;
     width: 100%;
}

.i-contact-info {
    margin: 60px 10px;
}

.i-contact-info-item {
    font-weight: 300;
    margin-top: 20px;
}


.i-arrow {
    color: white;
    font-size: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
}

.i-nav {
    text-align: center;
    margin-top: 8vh;
    background-color: #84b3df;
    padding: 10px;
    border-radius: 10px;
}

.i-nav a {
    margin: 0px 20px;
    background-color: #84b3df;
    color: white;
}

.i-nav a:hover {
    transition: .5s;
    color: rgb(228, 228, 228);
}

@media screen and (max-width:1270px) {
    .i {
        flex-direction: column;
        height: 80vh;
    }

    .i-right {
        display: none;
    }   

    .i-name {
        font-size: 40px;
        white-space: normal;
    }

    .i-left-wrapper {
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
        margin: 0px;
    }

    .i-desc {
        display: none;
    }

    .i-title-item {
        justify-content: center;
        white-space: nowrap;
        font-size: 22px;
    }

    .i-nav {
        display: none;
    }

    .i-arrow {
        display: none;
    }
    
}

.custom-shape-divider-bottom-1645673969 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645673969 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1645673969 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1645673969 svg {
        width: calc(156% + 1.3px);
        height: 70px;
    }
}

@media screen and (max-width:1270px) {
    .i-right {
        display: none;
    }
}